<a href="https://colab.research.google.com/github/thuvarahan97/DataStorm1.0_TeamFixzels/blob/master/Day3/neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd             #to use read_csv(), crosstab()
import numpy as np              #to use exponentiation : exp()
import statsmodels.api as sm    #to use the Logit()
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#import the dataset
traindata = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataStorm1.0 - Team Fixzels/credit_card_default_train.csv',sep=",")
testdata = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataStorm1.0 - Team Fixzels/credit_card_default_test.csv',sep=",")

In [4]:
traindata.head()

  Client_ID Balance_Limit_V1  ... PAID_AMT_DEC NEXT_MONTH_DEFAULT
0        A2               1M  ...       538165                  0
1        A3               1M  ...        33666                  0
2        A4             100K  ...            0                  1
3        A5             200K  ...         3918                  1
4        A6               1M  ...        17325                  0

[5 rows x 25 columns]

In [5]:
traindata.describe()

           PAY_JULY       PAY_AUG  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
count  24000.000000  24000.000000  ...  2.400000e+04        24000.000000
mean      -0.014208     -0.130042  ...  1.230122e+04            0.222083
std        1.124897      1.200566  ...  4.233848e+04            0.415656
min       -2.000000     -2.000000  ...  0.000000e+00            0.000000
25%       -1.000000     -1.000000  ...  3.070000e+02            0.000000
50%        0.000000      0.000000  ...  3.465000e+03            0.000000
75%        0.000000      0.000000  ...  9.252500e+03            0.000000
max        8.000000      8.000000  ...  1.221218e+06            1.000000

[8 rows x 19 columns]

In [0]:
traindata=traindata.replace(['M','F'], [1,-1])
testdata=testdata.replace(['M','F'], [1,-1])

In [7]:
pd.to_numeric(traindata['Gender'])

0        1
1       -1
2       -1
3       -1
4       -1
        ..
23995   -1
23996   -1
23997   -1
23998   -1
23999   -1
Name: Gender, Length: 24000, dtype: int64

In [8]:
print(traindata.groupby('EDUCATION_STATUS').count())

                  Client_ID  Balance_Limit_V1  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
EDUCATION_STATUS                               ...
Graduate               8478              8478  ...          8478                8478
High School            3925              3925  ...          3925                3925
Other                 11597             11597  ...         11597               11597

[3 rows x 24 columns]

In [0]:
traindata['EDUCATION_STATUS']=traindata['EDUCATION_STATUS'].replace(['Graduate','High School','Other'], [2,1,0])
testdata['EDUCATION_STATUS']=testdata['EDUCATION_STATUS'].replace(['Graduate','High School','Other'], [2,1,0])

In [10]:
pd.to_numeric(traindata['EDUCATION_STATUS'])

0        2
1        1
2        1
3        2
4        2
        ..
23995    1
23996    1
23997    0
23998    1
23999    0
Name: EDUCATION_STATUS, Length: 24000, dtype: int64

In [11]:
print(traindata.groupby('MARITAL_STATUS').count())

                Client_ID  Balance_Limit_V1  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
MARITAL_STATUS                               ...
Other               13070             13070  ...         13070               13070
Single              10930             10930  ...         10930               10930

[2 rows x 24 columns]

In [0]:
traindata['MARITAL_STATUS']=traindata['MARITAL_STATUS'].replace(['Single', 'Other'], [1,-1])
testdata['MARITAL_STATUS']=testdata['MARITAL_STATUS'].replace(['Single', 'Other'], [1,-1])

In [13]:
pd.to_numeric(traindata['EDUCATION_STATUS'])

0        2
1        1
2        1
3        2
4        2
        ..
23995    1
23996    1
23997    0
23998    1
23999    0
Name: EDUCATION_STATUS, Length: 24000, dtype: int64

In [14]:
print(traindata.groupby('AGE').count())

              Client_ID  Balance_Limit_V1  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
AGE                                        ...
31-45             12124             12124  ...         12124               12124
46-65              4150              4150  ...          4150                4150
Less than 30       7638              7638  ...          7638                7638
More than 65         88                88  ...            88                  88

[4 rows x 24 columns]

In [0]:
traindata['AGE']=traindata['AGE'].replace(['Less than 30','31-45','46-65','More than 65'], [4,3,2,1])
testdata['AGE']=testdata['AGE'].replace(['Less than 30','31-45','46-65','More than 65'], [4,3,2,1])

In [0]:
traindata['Balance_Limit_V1'] = traindata['Balance_Limit_V1'].map(lambda x : float(x[0:-1])*1000 if (x[-1]=='K') else float(x[0:-1])*1000000)
testdata['Balance_Limit_V1'] = testdata['Balance_Limit_V1'].map(lambda x : float(x[0:-1])*1000 if (x[-1]=='K') else float(x[0:-1])*1000000)

In [17]:
pd.to_numeric(traindata['Balance_Limit_V1'])

0        1000000.0
1        1000000.0
2         100000.0
3         200000.0
4        1000000.0
           ...
23995    1000000.0
23996     400000.0
23997     100000.0
23998     200000.0
23999     200000.0
Name: Balance_Limit_V1, Length: 24000, dtype: float64

In [18]:
print(traindata.groupby('NEXT_MONTH_DEFAULT').count())

                    Client_ID  Balance_Limit_V1  ...  PAID_AMT_NOV  PAID_AMT_DEC
NEXT_MONTH_DEFAULT                               ...
0                       18670             18670  ...         18670         18670
1                        5330              5330  ...          5330          5330

[2 rows x 24 columns]

In [0]:
# testdata[testdata.columns[12:24]]=testdata[testdata.columns[12:24]]/traindata.max()[traindata.columns[12:24]]
# testdata1[testdata1.columns[12:24]]=testdata1[testdata.columns[12:24]]/traindata.max()[traindata.columns[12:24]]

In [0]:
# testdata['Balance_Limit_V1']=testdata['Balance_Limit_V1']/traindata.max()['Balance_Limit_V1']
# testdata1['Balance_Limit_V1']=testdata1['Balance_Limit_V1']/traindata.max()['Balance_Limit_V1']

In [0]:
traindata['BIAS']=1
testdata['BIAS']=1

In [0]:
independentVar= ['Balance_Limit_V1',
                 'Gender',
                 'EDUCATION_STATUS',
                 'MARITAL_STATUS',
                 'AGE',
                 'PAY_JULY','PAY_AUG','PAY_SEP','PAY_OCT','PAY_NOV','PAY_DEC',
                 'DUE_AMT_JULY','DUE_AMT_AUG','DUE_AMT_SEP','DUE_AMT_OCT','DUE_AMT_NOV','DUE_AMT_DEC',
                 'PAID_AMT_JULY','PAID_AMT_AUG','PAID_AMT_SEP','PAID_AMT_OCT','PAID_AMT_NOV','PAID_AMT_DEC','BIAS']

In [0]:
train_data = traindata
train_data, test_data = train_test_split(traindata, train_size=0.8, test_size=0.2)
test_data_all = testdata

In [0]:
X_train, y_train = train_data[independentVar], train_data['NEXT_MONTH_DEFAULT']
X_test, y_test = test_data[independentVar], test_data['NEXT_MONTH_DEFAULT']
X_test_all = test_data_all[independentVar]

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_test_all = scaler.transform(X_test_all)

In [26]:
from sklearn import metrics
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from keras.models import Sequential
from keras.layers import Dense

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
Using TensorFlow backend.

In [0]:
# # define undersampling strategy
# under = RandomUnderSampler(sampling_strategy=0.3)

# # fit and apply the transform
# X_train_res, y_train_res = under.fit_resample(X_train, y_train)

# sm = SMOTE(random_state=2)
# X_train_res, y_train_res = sm.fit_sample(X_train_res, y_train_res.ravel())

In [28]:
# define the keras model
model = Sequential()
model.add(Dense(128, input_dim=24, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(512, activation='relu'))
model.add(Dense(1024, activation='relu'))
model.add(Dense(2048, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [29]:
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [31]:
# fit the keras model on the dataset
history = model.fit(X_train, y_train, epochs=15)

Epoch 1/15
19200/19200 [==============================] - 3s 151us/step - loss: 0.4272 - acc: 0.8186
Epoch 2/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.4239 - acc: 0.8195
Epoch 3/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.4201 - acc: 0.8209
Epoch 4/15
19200/19200 [==============================] - 3s 149us/step - loss: 0.4159 - acc: 0.8209
Epoch 5/15
19200/19200 [==============================] - 3s 149us/step - loss: 0.4132 - acc: 0.8221
Epoch 6/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.4113 - acc: 0.8241
Epoch 7/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.4077 - acc: 0.8253
Epoch 8/15
19200/19200 [==============================] - 3s 147us/step - loss: 0.4027 - acc: 0.8225
Epoch 9/15
19200/19200 [==============================] - 3s 149us/step - loss: 0.3976 - acc: 0.8264
Epoch 10/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.3912 - acc: 0.8276
Epoch 11/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.3886 - acc: 0.8296
Epoch 12/15
19200/19200 [==============================] - 3s 150us/step - loss: 0.3808 - acc: 0.8336
Epoch 13/15
19200/19200 [==============================] - 3s 146us/step - loss: 0.3748 - acc: 0.8363
Epoch 14/15
19200/19200 [==============================] - 3s 148us/step - loss: 0.3706 - acc: 0.8370
Epoch 15/15
19200/19200 [==============================] - 3s 150us/step - loss: 0.3634 - acc: 0.8421

In [0]:
# make probability predictions with the model
y_pred_all = model.predict(X_test_all)

# round predictions
y_pred_rounded_all = [round(x[0]) for x in y_pred_all]

In [33]:
count_0 = 0
count_1 = 0

for val in y_pred_rounded_all:
  if val == 0:
    count_0 += 1
  elif val == 1:
    count_1 += 1

print (count_0, count_1)

5212 788

In [0]:
# make probability predictions with the model
y_pred = model.predict(X_test)

# round predictions
y_pred_rounded = [round(x[0]) for x in y_pred]

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred_rounded)
print(confusion_matrix)

[[3464  273]
 [ 668  395]]

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_rounded))

              precision    recall  f1-score   support

           0       0.84      0.93      0.88      3737
           1       0.59      0.37      0.46      1063

    accuracy                           0.80      4800
   macro avg       0.71      0.65      0.67      4800
weighted avg       0.78      0.80      0.79      4800

In [0]:
# y=[]
# for i in y_pred_all:
#   y.append([i])
  
# output = pd.DataFrame(
#     y, columns = ['NEXT_MONTH_DEFAULT']
#     )
# output['Client_ID']=testdata['Client_ID']
# output1=output.to_csv('out.csv')