<a href="https://colab.research.google.com/github/thuvarahan97/DataStorm1.0_TeamFixzels/blob/master/Day2/LGB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd             #to use read_csv(), crosstab()
import numpy as np              #to use exponentiation : exp()
import statsmodels.api as sm    #to use the Logit()
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

In [0]:
# from google.colab import drive
# drive.mount('/content/drive')

In [0]:
#import the dataset
traindatainput = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataStorm1.0 - Team Fixzels/credit_card_default_train.csv',sep=",")
testdatainput = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DataStorm1.0 - Team Fixzels/credit_card_default_test.csv',sep=",")

In [0]:
traindata, testdata1 = train_test_split(traindatainput, train_size=0.8, test_size=0.2)
# traindata = traindatainput
testdata = testdatainput

In [507]:
traindata.head()

      Client_ID Balance_Limit_V1  ... PAID_AMT_DEC NEXT_MONTH_DEFAULT
2331      A2887             500K  ...        16170                  0
14316    A17921             200K  ...         1626                  1
15486    A19382             300K  ...            0                  0
7178      A8920             200K  ...         1155                  1
12329    A15400               1M  ...         1044                  0

[5 rows x 25 columns]

In [508]:
traindata.describe()

           PAY_JULY       PAY_AUG  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
count  19200.000000  19200.000000  ...  1.920000e+04        19200.000000
mean      -0.011823     -0.124531  ...  1.207876e+04            0.220885
std        1.129703      1.202573  ...  4.139054e+04            0.414854
min       -2.000000     -2.000000  ...  0.000000e+00            0.000000
25%       -1.000000     -1.000000  ...  3.280000e+02            0.000000
50%        0.000000      0.000000  ...  3.465000e+03            0.000000
75%        0.000000      0.000000  ...  9.247000e+03            0.000000
max        8.000000      8.000000  ...  1.221218e+06            1.000000

[8 rows x 19 columns]

In [0]:
traindata=traindata.replace(['M','F'], [1,-1])
testdata=testdata.replace(['M','F'], [1,-1])
testdata1=testdata1.replace(['M','F'], [1,-1])

In [510]:
pd.to_numeric(traindata['Gender'])

2331    -1
14316   -1
15486    1
7178    -1
12329    1
        ..
15383    1
3877    -1
19296   -1
5191    -1
5047    -1
Name: Gender, Length: 19200, dtype: int64

In [511]:
print(traindata.groupby('EDUCATION_STATUS').count())

                  Client_ID  Balance_Limit_V1  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
EDUCATION_STATUS                               ...
Graduate               6731              6731  ...          6731                6731
High School            3154              3154  ...          3154                3154
Other                  9315              9315  ...          9315                9315

[3 rows x 24 columns]

In [0]:
traindata=traindata.replace(['Graduate','High School','Other'], [2,1,0])
testdata=testdata.replace(['Graduate','High School','Other'], [2,1,0])
testdata1=testdata1.replace(['Graduate','High School','Other'], [2,1,0])

In [513]:
pd.to_numeric(traindata['EDUCATION_STATUS'])

2331     2
14316    0
15486    0
7178     2
12329    0
        ..
15383    2
3877     2
19296    2
5191     2
5047     0
Name: EDUCATION_STATUS, Length: 19200, dtype: int64

In [514]:
print(traindata.groupby('MARITAL_STATUS').count())

                Client_ID  Balance_Limit_V1  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
MARITAL_STATUS                               ...
0                   10448             10448  ...         10448               10448
Single               8752              8752  ...          8752                8752

[2 rows x 24 columns]

In [0]:
traindata=traindata.replace(['Single'], [1])
testdata=testdata.replace(['Single'], [1])
testdata1=testdata1.replace(['Single'], [1])

In [516]:
pd.to_numeric(traindata['EDUCATION_STATUS'])

2331     2
14316    0
15486    0
7178     2
12329    0
        ..
15383    2
3877     2
19296    2
5191     2
5047     0
Name: EDUCATION_STATUS, Length: 19200, dtype: int64

In [517]:
print(traindata.groupby('AGE').count())

              Client_ID  Balance_Limit_V1  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
AGE                                        ...
31-45              9612              9612  ...          9612                9612
46-65              3362              3362  ...          3362                3362
Less than 30       6157              6157  ...          6157                6157
More than 65         69                69  ...            69                  69

[4 rows x 24 columns]

In [0]:
traindata['AGE']=traindata['AGE'].replace(['Less than 30','31-45','46-65','More than 65'], [1,2,3,4])
testdata['AGE']=testdata['AGE'].replace(['Less than 30','31-45','46-65','More than 65'], [1,2,3,4])
testdata1['AGE']=testdata1['AGE'].replace(['Less than 30','31-45','46-65','More than 65'], [1,2,3,4])

In [0]:
traindata['Balance_Limit_V1'] = traindata['Balance_Limit_V1'].map(lambda x : float(x[0:-1])*1000 if (x[-1]=='K') else float(x[0:-1])*1000000)
testdata['Balance_Limit_V1'] = testdata['Balance_Limit_V1'].map(lambda x : float(x[0:-1])*1000 if (x[-1]=='K') else float(x[0:-1])*1000000)
testdata1['Balance_Limit_V1'] = testdata1['Balance_Limit_V1'].map(lambda x : float(x[0:-1])*1000 if (x[-1]=='K') else float(x[0:-1])*1000000)

In [520]:
pd.to_numeric(traindata['Balance_Limit_V1'])

2331      500000.0
14316     200000.0
15486     300000.0
7178      200000.0
12329    1000000.0
           ...
15383    1000000.0
3877      100000.0
19296     400000.0
5191      500000.0
5047      200000.0
Name: Balance_Limit_V1, Length: 19200, dtype: float64

In [521]:
print(traindata.groupby('NEXT_MONTH_DEFAULT').count())

                    Client_ID  Balance_Limit_V1  ...  PAID_AMT_NOV  PAID_AMT_DEC
NEXT_MONTH_DEFAULT                               ...
0                       14959             14959  ...         14959         14959
1                        4241              4241  ...          4241          4241

[2 rows x 24 columns]

In [0]:
testdata[testdata.columns[12:24]]=testdata[testdata.columns[12:24]]/traindata.max()[traindata.columns[12:24]]
testdata1[testdata1.columns[12:24]]=testdata1[testdata.columns[12:24]]/traindata.max()[traindata.columns[12:24]]
traindata[traindata.columns[12:24]]=traindata[traindata.columns[12:24]]/traindata.max()[traindata.columns[12:24]]

In [0]:
testdata['Balance_Limit_V1']=testdata['Balance_Limit_V1']/traindata.max()['Balance_Limit_V1']
testdata1['Balance_Limit_V1']=testdata1['Balance_Limit_V1']/traindata.max()['Balance_Limit_V1']
traindata['Balance_Limit_V1']=traindata['Balance_Limit_V1']/traindata.max()['Balance_Limit_V1']

In [0]:
traindata['BIAS']=1
testdata['BIAS']=1
testdata1['BIAS']=1

In [0]:
independentVar= ['Balance_Limit_V1',
                 'Gender',
                 'EDUCATION_STATUS',
                 'MARITAL_STATUS',
                 'AGE',
                 'PAY_JULY','PAY_AUG','PAY_SEP','PAY_OCT','PAY_NOV','PAY_DEC',
                 'DUE_AMT_JULY','DUE_AMT_AUG','DUE_AMT_SEP','DUE_AMT_OCT','DUE_AMT_NOV','DUE_AMT_DEC',
                 'PAID_AMT_JULY','PAID_AMT_AUG','PAID_AMT_SEP','PAID_AMT_OCT','PAID_AMT_NOV','PAID_AMT_DEC','BIAS']

In [0]:
X_train, y_train = traindata[independentVar], traindata['NEXT_MONTH_DEFAULT']
X_test1, y_test1 = testdata1[independentVar], testdata1['NEXT_MONTH_DEFAULT']
X_test = testdata[independentVar]

In [0]:
from sklearn import metrics
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from keras.models import Sequential
from keras.layers import Dense

In [528]:
# define undersampling strategy
under = RandomUnderSampler(sampling_strategy=0.4)
# fit and apply the transform
X_train_res, y_train_res = under.fit_resample(X_train, y_train)

sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(X_train_res, y_train_res.ravel())

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
import lightgbm as lgb

model = lgb.LGBMClassifier(num_boost_round=1000)

In [637]:
# fit the keras model on the dataset
model.fit(X_train_res, y_train_res)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_boost_round=1000, num_leaves=31,
               objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
               silent=True, subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [0]:
# make probability predictions with the model
y_pred = model.predict(X_test)

# # round predictions
# y_pred_rounded = [round(x[0]) for x in y_pred]

In [639]:
count_0 = 0
count_1 = 0

for val in y_pred:
  if val == 0:
    count_0 += 1
  elif val == 1:
    count_1 += 1

print (count_0, count_1)

4804 1196

In [0]:
# make probability predictions with the model
y_pred1 = model.predict(X_test1)

# # round predictions
# y_pred_rounded1 = [round(x[0]) for x in y_pred1]

In [641]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test1, y_pred1)
print(confusion_matrix)

[[3244  467]
 [ 572  517]]

In [642]:
from sklearn.metrics import classification_report
print(classification_report(y_test1, y_pred1))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86      3711
           1       0.53      0.47      0.50      1089

    accuracy                           0.78      4800
   macro avg       0.69      0.67      0.68      4800
weighted avg       0.78      0.78      0.78      4800